@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinning {
  0% {
    transform: translateY(-847px);
  }
  33% {
    transform: translateY(-605px);
  }
  66% {
    transform: translateY(-363px);
  }
  99% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-847px);
  }
}

@keyframes slow-down {
  0% {
    transform: translateY(-847px);
  }
  70% {
    transform: translateY(-585px);
  }
  100% {
    transform: translateY(-605px);
  }
}

@keyframes down {
  0% {
    top: -20%;
    transform: translateX(15px) rotate(0deg);
  }
  20% {
    transform: translateX(-15px) rotate(45deg);
  }
  40% {
    transform: translateX(-7px) rotate(90deg);
  }
  60% {
    transform: translateX(0) rotate(125deg);
  }
  80% {
    transform: translateX(5px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(15px) rotate(225deg);
  }
}