$font-primary: #ffffff;
$font-secondary: #726B95;
$font-active: #f7931a;
$font-dark: #000000;

$background-primary: linear-gradient(98.37deg, #f0c -47.89%, #339 107.13%);
$background-secondary: #100f2e;

// Fonts
$base-font-family: 'Arial', sans-serif;

$base-html-font-size: 10px;
$base-font-size: 16px;

// Font-weight
$regular: 400;
$bold: 600;

// Animations
$animation-speed: 0.25s ease-in 0.25s;

// Fixed height
$one-row-height: 121px;
$two-row-height: 242px;